[submodule "admin-site"]
	path = admin-site
	url = git@github.com:JasonGoemaat/goemaat-matest-admin.git
[submodule "public-site"]
	path = public-site
	url = git@github.com:JasonGoemaat/goemaat-matest-public.git
[submodule "tournament"]
	path = rosatournament
	url = git@github.com:JasonGoemaat/goemaat-matest-tournament.git
[submodule "firebase-tournament-test"]
	path = firebase-tournament-test
	url = https://github.com/JasonGoemaat/firebase-tournament-test
